<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd 
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        ">
    <!-- 加载配置属性文件 -->
    <context:component-scan base-package="com.beautiful.ui.*.controller"
                            use-default-filters="false">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    <bean id="disableCircularReferenceDetect"
          class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField"
                  value="com.alibaba.fastjson.serializer.SerializerFeature.DisableCircularReferenceDetect"></property>
    </bean>
    <mvc:annotation-driven
            content-negotiation-manager="contentNegotiationManager">
        <mvc:message-converters register-defaults="true">

            <bean
                    class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter4">

                <property name="supportedMediaTypes">
                    <list>
                        <!--解决IE JSON提示下载的问题 -->
                        <value>application/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>

                    </list>
                </property>
                <property name="fastJsonConfig">
                    <bean class="com.alibaba.fastjson.support.config.FastJsonConfig">
                        <property name="serializerFeatures">
                            <list>
                                <ref bean="disableCircularReferenceDetect"/>
                            </list>
                        </property>
                        <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"></property>
                    </bean>
                </property>
            </bean>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
                <property name="supportedMediaTypes">
                    <list>
                        <bean class="org.springframework.http.MediaType">
                            <constructor-arg index="0" value="text"/>
                            <constructor-arg index="1" value="plain"/>
                            <constructor-arg index="2" value="UTF-8"/>
                        </bean>

                        <bean class="org.springframework.http.MediaType">
                            <constructor-arg index="0" value="*"/>
                            <constructor-arg index="1" value="*"/>
                            <constructor-arg index="2" value="UTF-8"/>
                        </bean>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 静态文件客户端缓存：60 * 60 * 24 * 10 -->
    <mvc:resources mapping="/statics/**" cache-period="864000" location="/statics/" order="0">
        <mvc:resource-chain resource-cache="true">
            <mvc:resolvers>
                <bean class="org.springframework.web.servlet.resource.GzipResourceResolver"/>
            </mvc:resolvers>
        </mvc:resource-chain>
    </mvc:resources>
    <!-- REST中根据URL后缀自动判定Content-Type及相应的View -->
    <bean id="contentNegotiationManager"
          class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="mediaTypes">
            <value>
                json=application/json
                xml=application/xml
            </value>
        </property>
    </bean>

    <bean id="beetlConfig" class="org.beetl.ext.spring.BeetlGroupUtilConfiguration"
          init-method="init">
        <property name="configFileResource" value="classpath:beetl.properties"/>
        <!--<property name="root" value="/WEB-INF/view"/>-->
        <!--
        <property name="functions">
            <map>
                <entry key="getAllArea" value-ref="areaFunction" />
            </map>
        </property>

        <property name="functionPackages">
            <map>
                <entry key="dict" value-ref="dictFunction" />
                <entry key="office" value-ref="officeFunctions" />
                <entry key="role" value-ref="roleFunctions" />
                <entry key="auth" value-ref="authUserFunctions" />
                <entry key="strutil" value-ref="strutilFunction" />
            </map>
        </property>
         -->
    </bean>


    <bean id="viewResolver" class="org.beetl.ext.spring.BeetlSpringViewResolver">
        <property name="suffix" value=".html"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="order" value="0"/>
        <property name="config" ref="beetlConfig"/>
        <property name="cache" value="true"/>
    </bean>
    <mvc:default-servlet-handler/>


</beans>