<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> 主页</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> 流程管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="flot.html">创建流程</a>
                    </li>
                    <li>
                        <a href="flot.html">查看流程</a>
                    </li>
                    <li>
                        <a href="#">流程节点管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="${ctxPath!}/admin/flownode/nodeGroup/list">流程节点组类型添加</a>
                            </li>
                            <li>
                                <a href="${ctxPath!}/admin/flownode/node/list">流程节点类型添加</a>
                            </li>

                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>


        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>